services:
  database:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: saas_db
    ports:
      - "5432:5432"
    volumes:
      - ./backend/migrations:/docker-entrypoint-initdb.d

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://user:password@database:5432/saas_db
      JWT_SECRET: test_secret_123
    depends_on:
      - database